<%= render "shared/header" %>

<div class="container mt-3" style="padding-bottom: 100px;">
  <div class="d-flex justify-content-center align-items-center">
    <img src="/tobacco.jpg" class="rounded img-size" alt="タバコイラスト">
    <h1 class="text-center fst-italic fw-bold mx-3">喫煙所編集</h1>
    <img src="/tobacco.jpg" class="rounded img-size" alt="タバコイラスト">
  </div>

  <%= form_with(model: @spot, local: true) do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
    <div class="mb-2">
      <%= form.label :name, "喫煙所名前" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-2">
      <%= form.label :tobacco_id, "タバコの種類" %>
      <%= form.collection_select :tobacco_id, TobaccoType.all, :id, :name, {include_blank: "選択してください"}, {class: 'form-select'} %>
    </div>

    <div class="mb-2">
      <%= form.label :fence, "囲い" %>
      <%= form.check_box :fence, class: 'form-check-input' %>
    </div>

    <div class="mb-2">
      <%= form.label :roof, "屋根" %>
      <%= form.check_box :roof, class: 'form-check-input' %>
    </div>

    <div class="mb-2">
      <%= form.label :chair, "椅子" %>
      <%= form.check_box :chair, class: 'form-check-input' %>
    </div>

    <%= form.hidden_field :latitude, id: 'spot_latitude' %>
    <%= form.hidden_field :longitude, id: 'spot_longitude' %>

     <div id="map" style="height: 300px; width: 100%;"></div>

    <!-- JavaScriptでマップを初期化し、編集用のピンを設置 -->
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>}
        });

        var marker = new google.maps.Marker({
          position: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
          map: map,
          draggable: true
        });

        google.maps.event.addListener(marker, 'dragend', function() {
          document.getElementById('spot_latitude').value = marker.getPosition().lat();
          document.getElementById('spot_longitude').value = marker.getPosition().lng();
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"></script>

    <div class="d-flex justify-content-center">
      <%= form.submit "更新する", class: 'btn btn-secondary me-md-2 fst-italic mt-3' %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>