<%= render "shared/header" %>

<div id="map" style="height: 100%; width: 100%;"></div>

<%= render "shared/footer" %>

<script>
  var currentLocationMarker = null;

  function handleLocationError(browserHasGeolocation, pos) {
    console.log(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
  }

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15
    });

    if (navigator.geolocation) {
      navigator.geolocation.watchPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        var currentLocationIcon = {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 7,
          fillColor: '#4285F4', // 青色
          fillOpacity: 1,
          strokeWeight: 2,
          strokeColor: 'white'
        };

        if (!currentLocationMarker) {
          currentLocationMarker = new google.maps.Marker({
            position: pos,
            map: map,
            icon: currentLocationIcon
          });
        } else {
          currentLocationMarker.setPosition(pos);
        }

        map.setCenter(pos);

        <% @spots.each do |spot| %>
          var spotPos = { lat: <%= spot.latitude %>, lng: <%= spot.longitude %> };
          var spotMarker = new google.maps.Marker({
            position: spotPos,
            map: map
          });

          // 追加する部分: マーカーにクリックイベントを追加
          spotMarker.addListener('click', function() {
            window.location.href = '<%= spot_path(spot) %>';
          });
        <% end %>
      }, function() {
        handleLocationError(true, map.getCenter());
      }, {
        maximumAge: 10000,
        timeout: 5000,
        enableHighAccuracy: true
      });
    } else {
      handleLocationError(false, map.getCenter());
    }
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap"></script>