<%= render "shared/header" %>

<div class="container h-100" style="padding-bottom: 150px;">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
  <h2><%= @spot.name %></h2>
  <% if @spot.image.attached? %>
    <%= image_tag @spot.image.variant(resize_to_limit: [400, 400]), class: "img-fluid" %>
  <% end %>
  <p class="mt-5"><strong>タバコの種類:</strong> <%= TobaccoType.find_by(id: @spot.tobacco_id).name %></p>
  <p class="mt-5"><strong>囲い:</strong> <%= @spot.fence ? 'あり' : 'なし' %></p>
  <p class="mt-5"><strong>屋根:</strong> <%= @spot.roof ? 'あり' : 'なし' %></p>
  <p class="mt-5"><strong>椅子:</strong> <%= @spot.chair ? 'あり' : 'なし' %></p>

  <%= link_to '編集', edit_spot_path(@spot), class: 'btn btn-secondary me-md-2 fst-italic mt-5' %> 
  <%= link_to '削除', @spot, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-secondary me-md-2 fst-italic mt-5' %>
  <%= link_to '一覧に戻る', spots_path, class: 'btn btn-secondary me-md-2 fst-italic mt-5' %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>