<%= render "shared/header" %>

<div class="text-center" mt-4 style="padding-bottom: 80px;">
  <div class="d-flex justify-content-center align-items-center">
    <img src="/tobacco.jpg" class="rounded img-size" alt="タバコイラスト">
    <h2 class="fst-italic fw-bold mx-3"><%= @user.nickname %>さんの編集ページ</h2>
    <img src="/tobacco.jpg" class="rounded img-size" alt="タバコイラスト">
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-4">
      <%= f.label :nickname, "ニックネーム" %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </div>

    <div class="field mt-4">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在確認待ちのメールアドレス: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mt-4">
      <%= f.label :password, "新しいパスワード（変更しない場合は空欄）" %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>

    <div class="field mt-4">
      <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field mt-4">
      <%= f.label :current_password, "現在のパスワード（変更を確認するため）" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions mt-4">
      <%= f.submit "更新する", class: 'btn btn-secondary me-md-2 fst-italic mt-3' %>
    </div>
  <% end %>

  <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete, class: 'btn btn-secondary me-md-2 fst-italic mt-5' %>

</div>
<%= render "shared/footer" %>