<%= render "shared/header" %>

<main class="form-signin w-100 m-auto"style="padding-bottom: 50px;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <img class="mb-4" src="/24211327.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <%= f.text_field :nickname, autofocus: true, class: 'form-control', id: 'floatingNickname', placeholder: 'Nick name'%>
      <label for="floatingNickname">Nick name</label>
    </div>

    <div class="form-floating">
      <%= f.email_field :email, class: 'form-control', id: 'floatingInput', placeholder: 'Email address'%>
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, class: 'form-control', id: 'floatingPassword', placeholder: 'Password'%>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, class: 'form-control', id: 'floatingPasswordConfirmation', placeholder: 'Confirm Password'%>
      <label for="floatingPasswordConfirmation">Confirm Password</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>

    <button class="btn btn-danger w-100 py-2" type="submit">Sign up</button>
  <% end %>

</main>

<%= render "shared/footer" %>