<div class="container-fluid">
  <footer class="fixed-bottom bg-secondary">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
          <i class="bi bi-house-door-fill" style="font-size: 1rem;"></i>ホーム
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to spots_path, class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
            <i class="bi bi-search" style="font-size: 1rem;"></i>検索
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
            <i class="bi bi-search" style="font-size: 1rem;"></i>検索
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user), class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
            <i class="bi bi-person-fill" style="font-size: 1rem;"></i> マイページ
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
            <i class="bi bi-person-fill" style="font-size: 1rem;"></i> マイページ
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to new_spot_path, class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
            <i class="bi bi-journal-plus" style="font-size: 1rem;"></i>投稿
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: 'nav-link px-2 text-light d-flex flex-column align-items-center fst-italic' do %>
            <i class="bi bi-journal-plus" style="font-size: 1rem;"></i>投稿
          <% end %>
        <% end %>
      </li>
    </ul>
  </footer>
</div>